/* src/global.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #121212;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

.anchor-offset {
  position: relative;
  top: -75px; /* Adjust this value to match the height of your navbar */
  padding-top: 90px; /* Same value as the height of your navbar */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
